* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("kerri-shaver-xepikEyPgmI-unsplash.jpg") no-repeat center / cover scroll;
    font-family: arial;
}

.card {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.topo {
    font-size: 20px;
}

img {
    border: 1px solid #000;
    border-radius: 10px;
}

.conteudo {
    line-height: 1.5;
}
